.control-bar {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0%);
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 20px 50px;
  display: flex;
}

.download-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid #ffc3d5ff;
  color: #bed2feff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.delete-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #bed2feff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 3px solid #ccc;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  color: rgb(242, 65, 118);
  font-weight: bold;
  border-radius: 50px;
}

.file-uploader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}
